<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/introd.css">
</head>
<body>
    <main class="introd_main">
        <div class="title">
            <h1>자기소개</h1>
        </div>
        <div class="detail">
            <p>이름 : 전유안</p>
            <p>닉네임 : yaaan</p>
            <p>닉네임 선정 이유 : 유안을 빠르게 읽으면 얀이 됨</p>
            <p>학과 : 소프트웨어학과</p>
            <p>학번 : 24학번</p>
            <p>나이 : 21살</p>
            <p>전화번호 : 01026893176</p>
            <p>mbti : INFP</p>
            <p>좋아하는 음식 : 이걸 쓰고 있을 땐 살짝 크림파스타가</p>
        </div>
    </main>

</body>
</html>