<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/introd.css">
</head>
<body>
    <nav class="navbar">
        <div class="homebtn_div">
            <button class="likelionlogo_btn">
                <img src="../../img/kau_likelion.png" alt="logo" class="kau_likelion_logo">
                <a class="HOME" href="./main.html" target="_self">HOME</a>
            </button>
        </div>

        <div class="navbar_title_txt">
            <a class="likelion_title">LIKELION</a>
            <p class="kau_title">KoreaAerospaceUniversiry</p>
        </div>

        <div class="assignment_nav">
            <button class="homework_btn">
                <a href="#"><img src="../../img/backpack.png" alt="backpack" class="assignment_backpack"></a>
                <a href="#" class="homework_list">목록</a>
            </button>
        </div>
    </nav>
        <main class="introd_main">
            <div class="title">
                <h1>자기소개</h1>
            </div>
        <div class="detail">
            <p>이름 : 전유안</p>
            <p>닉네임 : yaaan</p>
            <p>닉네임 선정 이유 : 유안을 빠르게 읽으면 얀이 됨</p>
            <p>학과 : 소프트웨어학과</p>
            <p>학번 : 24학번</p>
            <p>나이 : 21살</p>
            <p>전화번호 : 01026893176</p>
            <p>mbti : INFP</p>
            <p>취미 : 아주 가아끔 쿠키를 만듭니다</p>
            <div class="cookies">
                <a href="#"><img src="../../img/KakaoTalk_20240325_222823427.jpg" alt="cookie" class="cookie"></a>
                <a href="#"><img src="../../img/KakaoTalk_20240325_222823427_01.jpg" alt="cookie" class="cookie_1"></a>
            </div>
            <p class="zz">내가 만든 쿠키~.. 친구를 위해 구웠지.. for 판다사랑친구</p>
        </div>
    </main>
    <footer class="footerbar">
        <div class="footer_txt_div">
            <p class="footer_title">ABOUT</p>
            <div class="footer_menus">
                <a class="manavers" href="./introd.html" target="_self">12th BabyLion</a>
                <a class="KAU_likelion" href="#">KAU likelion</a>
                <a class="likelion_Univ" href="#">Likelion Univ</a>
            </div>
        </div>
    </footer>

</body>
</html>